@import "setup";
@import "typography";
@import "mixins";
@import "header";
// GLOBAL STYLES
html {
  background: url("../../assets/adrian-pelletier-399180-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
}

main {
  height: 100vh;
}
